<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% if pwa %}
  <link rel="manifest" href="./manifest.json" />
  {% endif %}
  <title>DragPaper</title>
  <link rel="icon" href="./favicon.ico" type="image/x-icon" />
  <style>
    * {
      font-family: monospace;
    }
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      height: 100vh;
    }
  </style>
</head>
<body>
  {% block content %}
  {% endblock %}
  {% if pwa %}
  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('./sw.js', {scope: './'}).then(() => {
          //
        }, () => {
          // console.log('error')
        })
      })
    }
  </script>
  {% endif %}