{% extends "base.html" %}

{% block content %}
<style>
form {
  width: 260px;
  height: 260px;
  display: flex;
  flex-direction: column;
}
input {
  margin-bottom: 15px;
  border-radius: 6px;
  height: 30px;
  line-height: 30px;
  border: 3px dashed #999;
  padding-left: 10px;
}
input:focus {
  outline: none;
  border-color: #666;
}
input::placeholder {
  color: #ccc;
}
button {
  height: 30px;
  border-radius: 6px;
  background: transparent;
  border: 0;
  background: #ffcb01;
  color: #ee311f;
  text-transform: uppercase;
}

</style>

<body>
  <form action="./login" method="POST" id="loginForm">
    <input type="text" name="username" autocomplete="username" placeholder="username" />
    <input type="password" name="password" autocomplete="current-password" placeholder="password" />
    <button type="submit">Submit</button>
  </form>
</body>

<script>
  (function() {
    const form = document.getElementById('loginForm')
    form.addEventListener('submit', (e) => {
      e.preventDefault()
      fetch(form.getAttribute('action'), {
        method: 'POST',
        body: JSON.stringify({
          username: form.username.value,
          password: form.password.value
        }),
        headers: {
          'content-type': 'application/json'
        },
      }).then(res => res.json()).then(json => {
        if (json.code) {
          alert(json.err)
        } else {
        location.reload()
        }
      }).catch(() => {
        alert('unknow error')
      })
    })
  })()
</script>
{% endblock %}